body * {
	/*color : #2f4f4f;*/
	font-family: 'Roboto';
}

@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-Regular.ttf);
}

.rest-client{

	width : 100%;
}

.response-area{
	height: 50px;
}

.new-request{

	margin:10px;
}

.pointer {
	cursor: pointer;
}

.params{
	margin-top:5px;
}

.info{
	font-weight:bold;
	margin-left: 35%;
	margin-top: 20%;
	font-size: 21px;
	color: #2f4f4f ;

}

.font-30{
	font-size: 30px;
}

.whitish{
	color : #ffffff !important;
}

.required{
	color : #8B0000;
}