
.rest-client{

	width : 100%;
}

.response-area{
	height: 50px;
}

.new-request{

	margin:10px;
}

.pointer {
	cursor: pointer;
}

.params{
	margin-top:5px;
}

.info{
	font-weight:bold;
}

.font-30{
	font-size: 30px;
}