body * {
	/*color : #2f4f4f;*/
	font-family: 'Roboto';
}

@font-face {
	font-family: "Roboto";
	src: url(../fonts/Roboto-Regular.ttf);
}

.rest-client{

	width : 100%;
}

.response-area{
	height: 50px;
}

.new-request{

	margin:10px;
}

.pointer {
	cursor: pointer;
}

.params{
	margin-top:5px;
}

.info{
	font-weight:bold;
	margin-left: 35%;
	margin-top: 20%;
	font-size: 21px;
	color: #2f4f4f ;

}

.font-30{
	font-size: 30px;
}

.whitish{
	color : #ffffff !important;
}

.required{
	color : #8B0000;
}

.cursor{
	cursor: pointer;
}

.panel-heading .accordion-toggle:after {
	/* symbol for "opening" panels */
	font-family: 'Glyphicons Halflings';  /* essential for enabling glyphicon */
	content: "\e114";    /* adjust as needed, taken from bootstrap.css */
	float: right;        /* adjust as needed */
	color: grey;         /* adjust as needed */
}
.panel-heading .accordion-toggle.collapsed:after {
	/* symbol for "collapsed" panels */
	content: "\e080";    /* adjust as needed, taken from bootstrap.css */
}

.request-copied{
	float: right;
	color : #2E8B57;
	background-color: #d3d3d3;
	padding: 7px;
}
